@model IEnumerable<ConferenceUserViewModel>

<h1>Users</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConferenceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            var className = item.Id == Model.Last().Id ? "add-element" : "";
    
            <tr class="@className">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConferenceType)
                </td>
                <td style="width: 20%">
                    <img class="card-img-top" src="@item.PhotoUrl" alt="" asp-append-version="true">
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="empty-table">
            <td>
                <p>No users are registered</p>
            </td>
        </tr>
    }
    </tbody>
</table>