@model IEnumerable<ConferenceApp.Models.ConferenceUserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-action="Register">Register New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConferenceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConferenceType)
                </td>
                <td style="width: 20%">
                    <img class="card-img-top" src="@item.PhotoUrl" alt="" asp-append-version="true">
                </td>
            </tr>
        }
    </tbody>
</table>